{    
	"presets": [
    ["babel-preset-gatsby", 
      {
        "useBuiltIns": "entry",
        "targets": {
          "browsers": [">0.25%", "not dead", "ie >= 11"]
        }
      }
   ]
  ],
  "plugins": [
    "@babel/plugin-proposal-export-default-from",
    "@babel/plugin-proposal-object-rest-spread"
  ]
}